
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_responsive.css">
<section id="about-us" class="m-b-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><div class="m-b-30"><img src="//theme.hstatic.net/1000166699/1000935774/14/table-order-lobsterbay.jpg?v=450" alt="table order lobsterbay"></div></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-md-10 col-lg-push-1 col-sm-12 col-xs-12">
                        <p>&nbsp;</p><p style="text-align: center;"><span style="font-size: 26.6667px;"><b>Đặt bàn tại nhà hàng ChátQuán</b></span></p><p>ChátQuán trân trọng thông báo đến Quý Khách Hàng:</p><p><span class="_5mfr"><span class="_6qdm">✅</span></span><span>&nbsp;Chát Quán phục vụ ăn uống tại nhà hàng từ <strong>9h -22h</strong> mỗi ngày. Quý khách có nhu cầu dùng món tại nhà hàng có thể đặt bàn trước qua Hotline:&nbsp;𝟏𝟗𝟎𝟎.𝟎50.220 của nhà hàng.&nbsp;</span></p><p>✅Chát Quán vẫn luôn phục vụ Quý Khách có nhu cầu đặt món mang về hoặc giao tận nơi có thể đặt món cho ChátQuán qua hotline, inbox fanpage hoặc website:</p><div class="text_exposed_show"><p>𝟏/ 𝐇𝐨𝐭𝐥𝐢𝐧𝐞: 𝟏𝟗𝟎𝟎.𝟎50.220 | 0943580818<br>𝟐/ 𝐖𝐞𝐛𝐬𝐢𝐭𝐞:<span>&nbsp;</span><span style="color: rgb(0, 0, 255);"><a target="_blank" rel="nofollow noopener noreferrer" style="color: rgb(0, 0, 255);" href="https://www.facebook.com/ducngoc0502/">www.ChátQuán.vn</a></span><br>𝟑/ 𝐈𝐧𝐛𝐨𝐱 fanpage<span>&nbsp;</span><span style="color: rgb(0, 0, 255);"><a class="profileLink" style="color: rgb(0, 0, 255);" href="https://www.facebook.com/ducngoc0502/">ChátQuán</a></span></p><p><span class="_5mfr"><span class="_6qdm">✅</span></span><span>&nbsp;</span>Chúng tôi phục vụ mua mang về và giao hàng tận nơi nhanh chóng, chu đáo, nóng hổi. Với quy cách đóng gói an toàn, tiện lợi. Giao hàng chỉ trong 60 phút tại nội thành Hà Nội.</p><p>RẤT HÂN HẠNH ĐƯỢC PHỤC VỤ QUÝ KHÁCH<br><br>- Các chương trình Khuyến Mãi<span>&nbsp;</span><a class="_58cn" href="/khuyen-mai"><span class="_5afx"><span class="_58cl _5afz">#</span><span class="_58cm">HOT</span></span></a><span>&nbsp;</span>:<span>&nbsp;</span><span style="color: rgb(0, 0, 255);"><a target="_blank" rel="nofollow noopener noreferrer" style="color: rgb(0, 0, 255);" href="/khuyen-mai">http://bit.ly/Khuyen-Mai-Chát-Quán</a></span><br><br><span class="_5mfr"><span class="_6qdm">☎️</span></span>Gọi giao nhanh: 𝟏𝟗𝟎𝟎.050.220&nbsp;<br><span class="_5mfr"><span class="_6qdm">🛒</span></span><span>&nbsp;</span>Đặt tại web:<span>&nbsp;</span><a target="_blank" rel="nofollow noopener noreferrer" href="https://www.facebook.com/ducngoc0502/"><span style="color: rgb(0, 0, 255);">https://ChátQuán.vn/</span></a><br>Hệ thống nhà hàng Chát Quán<br><span class="_5mfr"><span class="_6qdm">☑️</span></span><span>&nbsp;</span>Chi Nhánh 1: 582 Đường Lĩnh Nam, Lĩnh Nam, Hai Bà Trưng, Hà Nội<br><span class="_5mfr"><span class="_6qdm">☑️</span></span><span>&nbsp;</span>Chi Nhánh 2: 226 Lê Hoàn, Lam Sơn, Thành phố Thanh Hóa</p></div><div><div class="_1mf _1mj"><em>--------------------------------</em></div><div class="_1mf _1mj">&nbsp;</div><div class="_1mf _1mj"><span style="font-size: 11pt;"><em>****&nbsp;Các chương trình khuyến mãi không áp dụng các ngày lễ, Tết: 1/1, 14/2, 8/3, 30/4, 1/5, 10/3 (âm lịch), 1/9 &amp; 2/9, 20/10, 24/12</em></span></div><div class="_1mf _1mj"><span style="font-size: 11pt;"><em>****&nbsp;Chương trình áp dụng trên toàn hệ thống nhà hàng, giao đi và mang về.</em></span></div><div class="_1mf _1mj"><span style="font-size: 11pt;"><em>****&nbsp;Chương trình được áp dụng kèm các chương trình khuyến mãi khác.</em></span></div><div class="_1mf _1mj">&nbsp;</div></div><p style="text-align: center;"><span style="font-size: 15pt;"><strong>KHÁCH HÀNG THƯỞNG THỨC TIỆC TẠI NHÀ HÀNG</strong></span></p><p style="text-align: center"><img width="600" src="~/Content/assets/images/datban1.png"></p><p style="text-align: center"><img width="600" src="~/Content/assets/images/datban3.jpg"></p><p style="text-align: center"><img width="600" src="~/Content/assets/images/datban2.png"></p><p style="text-align: center;">&gt;&gt;&gt; Đặt bàn ngay: <strong><a href="tel:0943580818">1900.050.220</a></strong>&nbsp;</p><div style="left: 445px; top: 7963.78px;">&nbsp;</div>

                        <div class="map-list">
                            <div class="item-map" data="1" onclick="show_store(1)">
                                <p class="clearfix">
                                    <span class="icon-map"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                    <span class="title-map">
                                        <strong>Chát Quán Hà Nội</strong><br>
                                        582 Đường Lĩnh Nam, Lĩnh Nam, Hai Bà Trưng, Hà Nội
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="icon-map-hotline"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                    <span class="hotline-map">
                                        Hotline 1900.050.220
                                    </span>
                                </p>
                            </div>
                            <div class="item-map" data="1" onclick="show_store(2)">
                                <p class="clearfix">
                                    <span class="icon-map"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                    <span class="title-map">
                                        <strong>Chát Quán Thanh Hóa</strong><br>
                                        226 Lê Hoàn, Lam Sơn, Thành Phố Thanh Hóa
                                    </span>
                                </p>
                                <p class="clearfix">
                                    <span class="icon-map-hotline"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                    <span class="hotline-map">
                                        Hotline 1900.050.220
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script src="~/Content/assets/js/contact_custom.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
}

