@{
    ViewBag.Title = "Confirm Email";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<div class="container" style="margin-top:170px">
    <div class="row">
        <div class="col-md-12">
            <h2>Xác thực email thành công.</h2>
            <div>
                <p>
                    Cảm ơn bạn đã xác thực email và hoàn tất quá trình đăng ký. Vui lòng @Html.ActionLink("nhấn vào đây để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        </div>
    </div>
</div>
