@{
    ViewBag.Title = "Reset password confirmation";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<div class="container" style="margin-top:170px">
    <div class="row">
        <div class="col-md-12">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <div>
                <p>
                    Bạn đã đặt lại mật khẩu thành công. Vui lòng @Html.ActionLink("đăng nhập tại đây", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        </div>
    </div>
</div>